@import '_var.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Arial', sans-serif;
}
::selection { 
    background: $light-coral; 
    color: $white;
}
button, input, input::placeholder, textarea{
    font-family: 'Roboto', 'Arial', sans-serif;
}
button, input, a, i{
    transition: all .3s ease;
}
h1, h2, h3, h4, h5{
    padding: 0;
    margin: 0;
}

@import '_utilites.scss';
@import '_functions.scss';
@import '_pc_style.scss';
@import '_tablet.scss';


@media only screen and(max-width : 450px){
    button, input[type=submit]{
        padding: 10px 11px !important;
    }

    .menu{
    background-color: $light-black;
        .container{
            .content{
                display: flex;
                .left, .right{
                    width: 100%;
                }
                .left{
                    margin-right: 2em;
                }
            
                .meal{
                    transition: all .2s ease-in-out;
                    display: flex;
                    margin: 2em 0;
                    color: white;
                    background-color: $light-coral;
                    flex-direction: column;
                    .photo-meal-container{
                        margin-right: 0;
                        background-image: url('/photos/Fish-Fillet.jpg');
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        height: 10em;
                        span.photo-meal{
                            background: none;
                            display: block;
                            border-radius: 50%;
                        }
                    }
                    .details{
                        display: flex;
                        padding: 3px 15px 14px;
                        .name-and-contents{
                            h3{
                                margin: .6em 0;
                            }
                        }
                        .prise{
                            margin: .6em 0;
                            span{
                                color: $light-coral;
                                margin-left: 19px;
                                font-size: 1.3rem;
                                font-weight: bold;
                            }
                        }
                    }
                    &:nth-child(1), &:last-child{
                        margin: 3em 0 2em !important;
                    }
                    &:hover{
                        transform: scale(1.06);
                    }
                }
            }
        }
    }

    

};