@import '_var.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Arial', sans-serif;
}
::selection { 
    background: $light-coral; 
    color: $white;
}
button, input, input::placeholder, textarea{
    font-family: 'Roboto', 'Arial', sans-serif;
}
button, input, a, i{
    transition: all .3s ease;
}
h1, h2, h3, h4, h5{
    padding: 0;
    margin: 0;
}

@import '_utilites.scss';
@import '_functions.scss';
@import '_pc_style.scss';
@import '_tablet.scss';


@media screen and  (max-width : 450px){

    section.book_a_table{
    height: 600px;
    }

    .menu{
    background-color: $light-black;
        .container{
            .menu-header{
                h2{
                    text-align: center;
                }
            }
            .content{
                .meal{
                    transition: all .2s ease-in-out;
                    margin: 2em 0;
                    background-color: $light-coral;
                    flex-direction: column;
                    .photo-meal-container{
                        margin-right: 0;
                        background-image: url('/photos/Fish-Fillet.jpg');
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        height: 10em;
                        span.photo-meal{
                            background: none;
                        }
                    }
                    .details{
                        display: flex;
                        padding: 3px 15px 14px;
                        .name-and-contents{
                            h3{
                                margin: .6em 0;
                                border-bottom: 2px solid $white;
                                padding-bottom: 6px;
                            }
                        }
                        .prise{
                            span{
                                color: $light-black;
                            }
                        }
                    }
                    &:nth-child(1), &:last-child{
                        margin: 3em 0 2em !important;
                    }
                    &:hover{
                        transform: scale(1.06);
                    }
                }
            }
        }
    }

    .plate-of-the-day{
    height: auto;
    .container{
        .content{
            text-align: justify;
            padding: 1em 2.3em;
            h3{
                text-align: center;
            }
            
            button{
                margin-top: 7px;
            }
        }
    }
    }

    .contact{
        .container{
            .left{
                word-wrap: break-word;
                p {
                    text-align: justify;
                }
                .contact-information{
                    display: inline-block;
                    .content{
                        display: flex;
                        flex-wrap: wrap;
                        i{
                            text-align: center;
                            margin: auto 0;
                            margin-right: .7em;

                        }
                        span{
                            width: 79%;
                        }
                    }
                }
            }

            .right{
                width: 100%;
                form{
                    justify-content: center;
                    input, textarea{
                        min-width: 100px;
                        margin: .3em 0;
                        background-color: transparent;
                        border: solid 1px $light-white;
                        padding: 1em 0 1em 1em;
                        color: $white;
                        &::placeholder-shown{
                            color: $light-white;
                        }
                    }
                    textarea{
                        resize: none;
                        min-height: 6em;
                    }
                    input[type=submit]{
                        margin: 1em auto 0 auto;
                    }
                }
            }
        }
    }

};